.hero-section {
  background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),
    url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e840df8e2c9cc7677e4f00e_felix-rostig-UmV2wr-Vbq8-unsplash.jpg");

  h1 {
    font-size: 3.5rem;
  }

  .btn-outline-white {
    text-transform: none;

    &:hover {
      background: #fff;

      color: var(--dark);
    }
  }
}
