.hero-section {
  background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),
    url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e840df8e2c9cc7677e4f00e_felix-rostig-UmV2wr-Vbq8-unsplash.jpg");

  h1 {
    font-size: 3.5rem;
  }

  .btn-outline-white {
    text-transform: none;

    &:hover {
      background: #fff;

      color: var(--dark);
    }
  }
}

.why-section {
  .col-12 {
    p {
      margin: auto 20rem;

      color: rgba(0, 0, 0, 0.8);
    }

    h3 {
      font-size: 0.9rem;
    }
  }

  .col-3 {
    i {
      color: var(--main);
    }
  }
}

.owners-section {
  p {
    margin: auto 5rem;
  }
}

.help-section {
  background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),
    url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e84f74f40a146d432ac3598_adam-solomon-WHUDOzd5IYU-unsplash%20(1)%20(1).jpg");

  h1 {
    font-size: 3.5rem;
  }

  .btn-outline-white {
    text-transform: none;

    &:hover {
      background: #fff;

      color: var(--dark);
    }
  }
}
