.hero {
  .btn-white {
    background: var(--main);
    text-transform: none;
    color: #fff;

    &:hover {
      background: var(--dark);
    }
  }

  i {
    color: var(--main);
  }
}

.contact {
  .btn-white {
    background: var(--main);
    text-transform: none;
    color: #fff;

    padding: 0.5rem 2rem;
    font-size: 1rem;
  }
}
