/* shop section */
.shop-section {
  .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 18rem;
    height: 400px;

    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  }

  .item-one {
    background-image: url(https://assets.website-files.com/5e853c3383474026e43f2c78/5e861d123df4d175e80e8beb_acme-gift-card.jpg);
  }

  .item-two {
    background-image: url(https://assets.website-files.com/5e853c3383474026e43f2c78/5e8542c1248e59128e08e3e9_ryan-holloway-JyDmUaXMib4-unsplash.jpg);
  }

  .item-three {
    background-image: url(https://assets.website-files.com/5e853c3383474026e43f2c78/5e85425605cae11f20d46181_denisse-leon-J7CjWufjmg4-unsplash.jpg);
  }

  .item-four {
    background-image: url(https://assets.website-files.com/5e853c3383474026e43f2c78/5e8542198347409e463f436b_jakob-owens-O_bhy3TnSYU-unsplash.jpg);
  }

  .feature-item {
    background-image: url(https://assets.website-files.com/5e853c3383474026e43f2c78/5e856e41c718420c18dd6751_patrick-hendry-eDgUyGu93Yw-unsplash.jpg);
    box-shadow: inset 0px 0px 300px 0px rgba(0, 0, 0, 0.75);

    height: 15rem;

    .btn-primary {
      background: #fff;

      text-transform: none;
    }
  }

  .price {
    font-size: 0.9rem;

    span {
      font-size: 0.8rem;
      color: var(--main);
      margin-left: 0.4rem;
    }
  }

  .btn-white {
    background: var(--main);
    text-transform: none;
    font-size: 1rem;
    color: white;

    &:hover {
      background: #000;
      color: white;
    }
  }

  .btn-dark {
    background: var(--main);
    font-size: 0.8rem;
    color: white;
  }

  .btn-black {
    text-transform: none;
    font-size: 1rem;
    &:hover {
      background: var(--main);
    }
  }
}

.btn-outline-black {
  text-transform: none;

  &:hover {
    background: #000;
    color: #fff;
  }
}
