/* root */
:root {
  --main: #eb5757;
}

/* additional parameters*/
body::before {
  content: "";
  display: block;
  height: 70px;
}

/* navbar */
nav {
  background: var(--main);
}

/* hero */
.hero-section {
  background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),
    url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e83f98bae1ad80129fcd7e5_wu-jianxiong-UniC8xhlzaE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 550px;

  h1 {
    font-size: 3.8rem;
    margin-top: 5rem;
  }

  .btn {
    &:hover {
      background: white;
      color: #000;
    }
  }
}

/* support */
.support-section {
  .card {
    height: 21rem;
  }
}

/* covid */
.covid-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.17), #222),
    url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e83fb3a6948e1f05b20527f_nathan-dumlao-pLoMDKtl-JY-unsplash.jpg");

  height: 550px;

  .btn {
    &:hover {
      background: var(--main);
      color: white;
    }
  }
}

/* shop section */
.shop-section {
  .card {
    height: 35rem;
    width: 24.5rem;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card-one {
    background-image: url(https://assets.website-files.com/5e853c3383474026e43f2c78/5e856e41c718420c18dd6751_patrick-hendry-eDgUyGu93Yw-unsplash.jpg);
  }

  .card-two {
    background-image: url(https://assets.website-files.com/5e853c3383474026e43f2c78/5e8542c1248e59128e08e3e9_ryan-holloway-JyDmUaXMib4-unsplash.jpg);
  }

  .card-three {
    background-image: url(https://assets.website-files.com/5e853c3383474026e43f2c78/5e85425605cae11f20d46181_denisse-leon-J7CjWufjmg4-unsplash.jpg);
  }

  .price {
    font-size: 0.9rem;

    span {
      font-size: 0.8rem;
      color: var(--main);
      margin-left: 0.4rem;
    }
  }

  .btn-white {
    background: var(--main);
    text-transform: none;
    font-size: 1rem;
    color: white;

    &:hover {
      background: #000;
      color: white;
    }
  }

  .btn-dark {
    background: var(--main);
    font-size: 0.8rem;
    color: white;
  }

  .btn-black {
    text-transform: none;
    font-size: 1rem;
    &:hover {
      background: var(--main);
    }
  }
}
